# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Data and models
# (Models are required for Streamlit deployment, so we include them in repo)

# IDE/editor files
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db
